[Unit]
Description=Sevice service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=java -jar -Xmx4g /root/komga-latest.jar

[Install]
WantedBy=multi-user.target
